.container {
  padding: 10px;
  margin: 0px;
  flex-grow: 1;
}

#root {
  display: flex;
  align-items: stretch;
}

#journey-timeline {
  height: 100%;
  min-height: 300px;
  width: 100%;
}

#refresh-button, #refresh-button:visited {
  width: 30px;
  height: 30px;
  padding: 5px;
  display: flex;
  align-items: center; 
  border-width: 0px;
  background-color: transparent;
  border-radius: 2px;
  margin: 0px;
  position: absolute;
  top: 25px;
  right: 25px;
}


#refresh-button:hover {
  width: 30px;
  height: 30px;
  padding: 5px;
  display: flex;
  align-items: center; 
  border-width: 0px;
  background-color: rgba(55, 53, 47, 0.08);
  border-radius: 3px;
  top: 25px;
  right: 25px;
}

#refresh-button:active {
  width: 30px;
  height: 30px;
  padding: 5px;
  display: flex;
  align-items: center; 
  border-width: 0px;
  background-color:rgba(55, 53, 47, 0.16);
  border-radius: 3px;
  top: 25px;
  right: 25px;
}

#refresh-button:focus {
  outline: 0px;
}



#refresh-button img {
  width: 70%;
  height: 70%;
  margin: auto;
}

#graph-tooltip {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 100;
  margin-left: -60px;
  margin-top: 10px;
}

#graph-tooltip:hover {
  visibility: visible;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 100;
  margin-left: -60px;
  margin-top: 10px;
}

#graph-tooltip::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.line.active, .line:hover {
  stroke-width: 3;
}

.dot.active, .dot:hover {
  stroke-width: 3;
  stroke:black;
  opacity: 1;
}

.faded .line {
  opacity: 0.2;
}

.faded .line.active {
  opacity: 1;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

#root {
  height: 100%;
}

html {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#url-generation-form {
  line-height: 300%;
}

#url-generation-form input {
  margin-left: 10px;
  margin-right: 20px;
}

#url-generation-form .controlled-form-field input {
  margin: 0px;
}

.controlled-form-field {
  margin-left: 10px;
  margin-right: 20px;
}


#url-generation-form #xmax, #url-generation-form #ymax {
  margin-left: 0px;
}

#url-generation-form #xmin, #url-generation-form #ymin {
  margin-right: 0px;
}

#url-generation-form #url {
  width: 95%;
  margin-left: 0px;
  margin-right: 0px;
}

#url-generation-form {
  margin: 40px;
}

#url-generation-form div {
  margin-bottom: 30px;
}

#url-generation-form #axis-bounds input {
  width: 40px;
}

#url-generation-form {
  font-weight: bold;
  font-size: small;
}

.controlled-form-field span {
  display: block;
  font-weight: normal;
  color: red;
}

.controlled-form-field span::before {
  content: '⊗ ';
  
}

@media only screen and (max-width: 800px) {
  #url-generation-form input {
    display: block;
  }
  #url-generation-form #axis-bounds input {
    display: inline;
  }
  #url-generation-form #axis-bounds #ylabel {
    display: block;
  }
}

input {
  padding: 6px 4px;
}
